.schedule .filters {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  margin: 50px 0;
}

.schedule .filters li {
  color: #ffffff;
  padding: 10px 25px;
  background: #191919;
  transition: 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}

.schedule .filters li:hover,
.schedule .filters li.active {
  background: var(--primary);
}
