.banner .content {
  margin: auto;
  position: relative;
  max-width: 550px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: 1s;
  z-index: 1000;
}

.banner .content.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.movie-title {
  max-width: 250px;
  margin-bottom: 20px;
}

.banner .content h4 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 800;
  font-size: 30px;
}

.banner .content h4 span {
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.banner .content h4 span:first-child {
  padding-left: 0;
}

.banner .content h4 span:last-child {
  border-right: 0;
}

.banner .content h4 span i {
  background: var(--primary);
  color: #ffffff;
  padding: 0 8px;
  display: inline-block;
  border-radius: 2px;
}

.banner .content p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #ffffff;
  margin: 20px 0 30px;
}
