.nav li {
  list-style: none;
  margin: 0 20px;
}

.nav li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.nav li a:hover,
.nav li a.active {
  color: var(--primary);
}

.nav .homeIcon ion-icon {
  font-size: 1.5rem;
}
