.search {
  position: relative;
  width: 300px;
  height: 30px;
}

.search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 45px !important;
  backdrop-filter: blur(10px);
}

.search input::placeholder {
  color: #ffffff;
}

.search ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  padding-right: 10px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}
