@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #ff3700;
}

body {
  background: #000000;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
